html,
body,
h1 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

html {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	background: var(--cyan-2);
	color: var(--gray-7);
}
